body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

footer {
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: #43494C;
    font-family: 'Pacifico', cursive;
    font-size: 400%;
    margin-top: -20px;
}

img {
    width: 70%;
    height: auto;
    z-index: 100;
}

#wrapperOuter {
  border: dashed orange;
  overflow: hidden;
  width: 95%;
  min-height: 100vh;
  max-height: 100%;
  margin-top: -60px;
}

#container {
    width: 80%;
    margin: -10px auto 50px;
    max-width: 500px;
    float: left;
}

#wrapperInner {
    width: 80%;
    margin: auto;
    overflow: hidden;
    max-width: 500px;
    float: right;
}

#first {
    width: 50%;
    float:left;

}
#second {
    width: 50%;
    overflow: hidden;
}

@media all and (max-width:800px)
{
    #first, #second
    {
        display: block;
        float: none;
        width: 100%;
    }
}

@media all and (max-width:600px)
{
    #container, #wrapperInner
    {
        display: block;
        float: none;
        width: 100%;
    }
}

#imageDisplay {
    margin-top: 20px;
    z-index: -1;
    position: relative;
}

#ruleDisplay {
    margin-left: 10px;
    width: 95%;
    height: 150px;
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: rgba(255,0,0,0.6);
    font-size: 30px;
    position: absolute;
    margin-top: 35%;
    z-index:1000;
    -webkit-transform: skewY(-10deg);
    -moz-transform: skewY(-10deg);
    -ms-transform: skewY(-10deg);
    -o-transform: skewY(-10deg);
    transform: skewY(-10deg);
}

.button {
    margin-top: 20px;
    margin-right: 10px;
    width: 45%;
    height: 50px;
    border-radius: 30px;
    background-color: #F4442E;
    color: #43494C;
    font-family: 'Pacifico', cursive;
    font-size: 150%;
}

.button:hover {
  background-color: #FB8B24;
}

#jackRuleDisplay {
    margin: auto;
    width: 80%;
    height: auto;
    font-family: 'Oswald', sans-serif;
}

#thumbMaster {
    border: solid black;
    height: 5.5vh;
    width: 80%;
    font-family: 'Pacifico', cursive;
    margin: auto;
}

#questionMaster {
    border: solid black;
    height: 5.5vh;
    width: 80%;
    font-family: 'Pacifico', cursive;
    margin: auto;
}

a:link {
  colour: black;
  font-size: 20px;
}

a:visited {
  colour: orange;
}

a:hover {
  font-weight: bold;
}

#listOfRules {
  float: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 50%;
  text-align: left;
}
