body {
    /*background-image: url("background.jpg");*/
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

footer {
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: #43494C;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    margin-top: -20px;
}

img {
    width: 70%;
    height: auto;
}

#container {
    border: dashed orange;
    width: 80%;
    margin: -70px auto 50px;
}

#imageDisplay {
    margin-top: 20px;
}

#ruleDisplay {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: solid black;
    width: 100%;
    height: 60px;
    font-family: 'Oswald', sans-serif;
}

#button {
    margin-top: 20px;
    margin-right: 10px;
    width: 45%;
    height: 50px;
    border-radius: 30px;
    background-color: #F4442E;
    color: #43494C;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

#restartbutton {
    margin-top: 20px;
    margin-left: 10px;
    width: 45%;
    height: 50px;
    border-radius: 30px;
    background-color: #F4442E;
    color: #43494C;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

#jackRuleDisplay {
    margin-top: 10px;
    border: solid black;
    height: 40px;
    font-family: 'Oswald', sans-serif;
}

#thumbMaster {
    border: solid black;
    height: 40px;
    width: 150px;
    font-family: 'Pacifico', cursive;
}

#questionMaster {
    border: solid black;
    height: 40px;
    width: 150px;
    font-family: 'Pacifico', cursive;
}

a:link {
  colour: #313638;
}

a:visited {
  colour: #EDD382;
}

a:hover {
  font-weight: bold;
}
